.pgntr-paper-layer {
    z-index: 1;
    pointer-events: none;
    padding-top: calc(var(--pgntr-page-gap) * 1px); 
    padding-bottom: calc(var(--pgntr-page-gap) * 1px); 
}

.pgntr-page-card {
    width: calc(var(--pgntr-page-width-visual) * 1px);
    height: calc(var(--pgntr-page-height-visual) * 1px);
    background-color: var(--pgntr-paper-bg);
    box-shadow: var(--pgntr-paper-shadow-outer), var(--pgntr-paper-shadow-inner);
    margin: 0 auto calc(var(--pgntr-page-gap) * 1px) auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 52.5px;
}

.pgntr-page-card:last-child {
    margin-bottom: 0; 
}

.pgntr-page-card-content-area { 
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
